[submodule "pbtc-on-eth/core"]
	path = pbtc-on-eth/core
	url = https://github.com/provable-things/ptokens-core
[submodule "pbtc-on-eos/core"]
	path = pbtc-on-eos/core
	url = https://github.com/provable-things/ptokens-core
